* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: dimgray;
    font-family: sans-serif;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
}

h1 {
    color: darkblue;
    font-size: 4rem;
}

ul {
    list-style-type: none;
}

button {
    padding: 10px;
}

.submitOrder {
    margin-bottom: 2rem;
}

section.products ul li {
    color: darkgreen;
}

section.products ul li strong {
    color: black;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form input{
    font-size: 2rem;
}

form input:nth-child(1){
    width: 48%;
    margin: 5px;
}
form input:nth-child(2){
    width: 48%;
    margin: 5px;
    float: right;
}
form input:nth-child(3){
    margin: 5px;
    padding: 5px;
    width: 100%;
}