* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

h1 {
    font-size: 4rem;
}

ul {
    list-style-type: none;
}

button {
    padding: 20px;
}

.submitOrder {
    margin-bottom: 2rem;
}

section.products ul li {
    padding-top: 25px;
    color: red;
}

section.products ul li strong {
    color: green;
}

